  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
body{
        background: url('guking.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Source Sans Pro','Prompt', sans-serif;
}
